{% extends "brandsurvey/layout.html" %}


{% block title %}BrandSurvey{% endblock %}

{% block main %}
<script type='text/javascript'
src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script src="https://smtpjs.com/v3/smtp.js">
</script>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Personal Brand Experience - Strengths Assessment for Xiong (Sunny) Wang</h3>
            </div>
            <form id="surveyfrm" action="" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
                
   
                <ul class="list-group">
                    {% for question in questions %}
                    
                    <li class="list-group-item">
                        <strong>{{ question.ques }}
                        
                        </strong>
                        <ul class="list-group">
                            {% for option in options%}
                            <li class="list-group-item">
                                <div>
                                <input type="radio"  name="{{ question.ques }}" value="{{option.option}}" required></div>
                                <label for="{{ question.ques }}" >{{option.option}}</label><br>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                <strong>Any comment? (Optional)</strong>
                <div>
                <textarea type="text" name="comment" value="custcomment" rows="3" class="form-control"></textarea>   
                </div>  
                <p style="text-align:center; font-size:20px;">
                    <input id="submitbtn" type="submit" value="submit">
                </p>
            </form>
        </div>
    </div>
</div>
<script>

    window.addEventListener('DOMContentLoaded', (event) => {
    //alert("aa");
    //$(function(){
    
    /*
    $("#submitbtn").click( function(event) {
        
        var x=$("#surveyfrm").serialize();
        console.log( $('#surveyfrm').serializeArray() );
        alert(x);
        var text="";
        
        /*
        for(int i=0;i<x.length;i++)
        {
            text+=x.elements[i].value+"<br><br>";
        }
        int j=0;
        for(result in results)
        {
            if(j<x.length)
            {
                result=x.elements[j].value
                j++;
            }
        }
        alert(text);
    });


    $('form').submit(function(e)
    {
        console.log( $('form').serializeArray() );
        var x=$('form').serializeArray();
        alert(x);
        e.preventDefault();   
        
    });*/


    var form = document.querySelector("form");
/*

form.addEventListener("submit", function(event) {
  var data = new FormData(form);
  var output = "";
  for (const entry of data) {
    output = output + entry[0] + "=" + entry[1] + "\r\n";
  };
  console.log(output) ;
    /*Email.send({
        Host: "smtp.gmail.com",
        Username : "wsunny.722@gmail.com",
        Password : "yanYi@0508#",
        To : 'sunny.722@hotmail.com',
        From : "wsunny.722@gmail.com",
        Subject : "BrandSurvey Result",
        Body : output,
        }).then(
            //message => 
            alert("mail sent successfully")
        );
    var url="{% url 'thank' ret %}".replace('ret',output);
    window.location.replace(url);

  event.preventDefault();
}, false);*/
    //});


    });
    
    
    
</script>
<script>
/*
    alert("aa");
    //function sendemail()
    
    $(function() {
    $('#surveyfrm').submit(function(e))
    {
        var x=document.getElementbyId("surveyfrm");
        var text="";
        for(int i=0;i<x.length;i++)
        {
            text+=x.elements[i].value+"<br><br>";
        }
        int j=0;
        for(result in results)
        {
            if(j<x.length)
            {
                result=x.elements[j].value
                j++;
            }
        }
        alert(text);
        Email.send({
        Host: "smtp.gmail.com",
        Username : "wsunny.722@gmail.com",
        Password : "yanYi@0508#",
        To : 'wsunny.722@gmail.com',
        From : "wsunny.722@gmail.com",
        Subject : "BrandSurvey Result",
        Body : text,
        }).then(
            message => alert("mail sent successfully")
        );
        window.location.replace("{% url 'thank' %}");
    }
    });*/
<script>
{% endblock %}
